{% extends 'new_books/base.html' %}

{% block title %}
    Editing books for {{author_b.name}}
{% endblock title %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 class="text-center">Update Author Collections</h3>
        
        {% for book_form in form.forms %}
            <hr>
            <h5 class="text-center">
                {% if book_form.instance.id %}
                    Book: {{book_form.instance.name}}
                {% else %}
                    {% if form.forms|length > 1 %}
                        Add another book
                    {% else %}
                        Add a book
                    {% endif %}
                {% endif %}
                <table>
                    {{book_from.as_table}}
                </table> 
                <p>
                    <hr>
                    <button type="submit" class="btn btn-primary w-100 mb-3">Update Collection</button>
                    <a href="{{ author.get_absolute_url }}" role="button" class="btn btn-secondary"></a>
                </p> 
            </h5>
        {% endfor %}
    </form>
{% endblock content %}
    
    