{% extends 'new_books/base.html' %}

{% block title %}
    Authors
{% endblock title %}

{% block content %}
    <h3 class="text-center">Authors</h3>
    
    {% if authors %}
        <ul class="list-group">
        {% for author in authors  %}
            <li class="list-group-item">
                <a href="" class="text-reset">{{author.name}}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="text-center">There are no Authors to display!</p>
    {% endif %}
    <p class="text-left"><a href="{% url 'books:home' %}" role="button" class="
        btn btn-">Return to Home Page</a></p>
{% endblock content %}
    